﻿@model Client

@{
    ViewData["Title"] = "Добавление клиента";
}

<h3>Клиент</h3>
<form method="post" class="form-row" asp-action="AddClient">
        <div class="validation" asp-validation-summary="All"></div>
    <div class="form-group">
        <div class="form-group row">
            <label asp-for="Name">Имя</label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group row">
            <label asp-for="INN">ИНН</label>
            <input class="form-control" asp-for="INN" />
            <span asp-validation-for="INN"></span>
        </div>
        <div class="form-group row">
            <label asp-for="IsIndividual">Физлицо </label>
            @Html.CheckBox(nameof(test.DataAccess.Client.IsIndividual))
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-lg-5" role="group" aria-label="first group">
                <input type="submit" class="btn btn-primary btn-lg" value="Применить" />
            </div>
            <div class="btn-group mr-lg-5" role="group" aria-label="second group">
                <input class="btn btn-secondary btn-lg" type="button" onclick="window.location.replace('/')" value="Отмена" />
            </div>
        </div>
    </div>
</form>
