﻿@model test.DataAccess.Client
@{
    ViewData["Title"] = "Редактирование клиента";
}

<h3>Клиент</h3>
<form method="post" class="form-row">
    <input type="hidden" name="ClientId" value="@Model.ClientId">
    <input type="hidden" name="CreateDate" value="@Model.CreateDate">
    <div class="form-group">
        <div class="form-group row">
            <label asp-for="Name">Имя</label>
            <input class="form-control" asp-for="Name" value="@Model.Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group row">
            <label asp-for="INN">ИНН</label>
            <input class="form-control" asp-for="INN" value="@Model.INN" />
            <span asp-validation-for="INN"></span>
        </div>
        <div class="form-group row">
            <label asp-for="IsIndividual">Физлицо </label>
            <input type="checkbox" asp-for="IsIndividual" value="@Model.IsIndividual"/>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-lg-5" role="group" aria-label="first group">
                <input type="submit" class="btn btn-primary btn-lg" value="Применить" />
            </div>
            <div class="btn-group mr-lg-5" role="group" aria-label="second group">
                <input class="btn btn-secondary btn-lg" type="button" onclick="window.location.replace('/')" value="Отмена" />
            </div>
        </div>
    </div>
</form>
