﻿@model IEnumerable<test.DataAccess.Client>
@{
    ViewData["Title"] = "Клиенты";
}

<h3>Список организаций</h3>
<table class="table table-sm table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Наименование</th>
            <th>ИНН</th>
            <th>Физлицо</th>
            <th>Дата внесения в базу</th>
            <th>Дата редактирования</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @foreach (var client in Model)
    {
        <tr>
            <td>@client.Name</td>
            <td>@client.INN</td>
            <td>@client.IsIndividual</td>
            <td>@client.CreateDate</td>
            <td>@client.UpdateDate</td>
            <td>
                <a href="@Url.RouteUrl(new { Controller = "Founder", Action = "Founders", clientId = @client.ClientId })" class="btn btn-sm btn-primary">
                    <i class="fa fa-address-card"></i>
                    Учредители
                </a>
            </td>
            <td>
                <a href="@Url.RouteUrl(new { Controller = "Home", Action = "EditClient", clientId = @client.ClientId })" class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                    Редактировать
                </a>
            </td>
            <td>
                @using (Html.BeginForm("DeleteClient", "Home", new { id = client.ClientId }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Удалить</button>
                }

            </td>
        </tr>
    }
</table>
<a href="/home/addclient">Добавить новую организацию</a>
