﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @await Html.PartialAsync("_ValidationScriptsPartial");
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm  navbar-toggleable-sm navbar-dark bg-primary mb-1">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">На главную</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Founder" asp-action="AllFounders" >Список всех учредителей</a>
                        </li>
                    </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</body>
</html>
