﻿@model int
@{
    ViewData["Title"] = "Добавление учредителя";
}

<div>
    <h3>Форма добавления учредителя</h3>
    <br />
    <form method="post" class="form-row">
        <div class="form-group">
            <input type="hidden"  id="ClientId" name="ClientId" value="@Model">
            <div class="form-group row">
                <label for="Surname">Фамилия</label>
                <input class="form-control" id="Surname" name="Surname" />
            </div>
            <div class="form-group row">
                <label for="Name">Имя</label>
                <input type="text" class="form-control" id="Name" name="Name" />
            </div>
            <div class="form-group row">
                <label for="Patronymic">Отчество</label>
                <input type="text" class="form-control" id="Patronymic" name="Patronymic" />
            </div>
            <div class="form-group row">
                <label for="INN">ИНН</label>
                <input type="text" class="form-control" id="INN" name="INN" />
            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-lg-5" role="group" aria-label="first group">
                    <input type="submit" class="btn btn-primary btn-lg" value="Сохранить" />
                </div>
                <div class="btn-group mr-lg-5" role="group" aria-label="second group">
                    <input class="btn btn-secondary btn-lg" type="button" onclick="window.location.replace('/')" value="Отмена" />
                </div>
            </div>
        </div>
    </form>
</div>
