﻿@model test.DataAccess.Founder
@{
    ViewData["Title"] = "Редактирование учредителя";
}

<h3>Учредитель</h3>
<br />
<form method="post" class="form-row">
    <input type="hidden" name="ClientId" value="@Model.ClientId">
    <input type="hidden" name="FounderId" value="@Model.FounderId">
    <input type="hidden" name="CreateDate" value="@Model.CreateDate">
    <div class="form-group">
        <div class="form-group row">
            <label for="Surname">Фамилия</label>
            <input type="text" class="form-control" id="Surname" name="Surname" value="@Model.Surname" />
        </div>
        <div class="form-group row">
            <label for="Name">Имя</label>
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" />
        </div>
        <div class="form-group row">
            <label for="Patronymic">Отчество</label>
            <input type="text" class="form-control" id="Patronymic" name="Patronymic" value="@Model.Patronymic" />
        </div>
        <div class="form-group row">
            <label for="INN">ИНН</label>
            <input type="text" class="form-control" id="INN" name="INN" value="@Model.INN" />
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-lg-5" role="group" aria-label="first group">
                <input type="submit" class="btn btn-primary btn-lg" value="Применить" />
            </div>
            <div class="btn-group mr-lg-5" role="group" aria-label="second group">
                <input class="btn btn-secondary btn-lg" type="button" onclick="window.location.replace('/')" value="Отмена" />
            </div>
        </div>
    </div>
</form>

