﻿@model IEnumerable<test.DataAccess.Founder>
@{
    ViewData["Title"] = "Учредители";
}

<h3>Список учредителей</h3>
<table class="table table-sm table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>ИНН</th>
            <th>Дата внесения в базу</th>
            <th>Дата редактирования</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @foreach (var founder in Model)
    {
        <tr>
            <td>@founder.Surname</td>
            <td>@founder.Name</td>
            <td>@founder.Patronymic</td>
            <td>@founder.INN</td>
            <td>@founder.CreateDate</td>
            <td>@founder.UpdateDate</td>
            <td> <a asp-action="EditFounder" asp-route-FounderId="@founder.FounderId" class="btn btn-sm btn-primary"> <i class="fa fa-edit"></i> Редактировать</a></td>
            <td>
                @using (Html.BeginForm("DeleteFounder", "Founder", new { founderId = founder.FounderId }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Удалить</button>
                }
            </td>
        </tr>
    }
</table>
<a asp-action="AddFounder" asp-route-clientId="@ViewBag.ClientId" >Добавить учредителя</a>
<a asp-action="Index" asp-controller="Home">Переход к организациям</a>
